<div class="container">
  <div class="information-container">
    <div class="project-information">
      <div class="left">
        <img src="../../../assets/projects-logos/cryptopunks.png" alt="" />
      </div>
      <div class="right">
        <p class="title">{{ projectOverview.name }}</p>
        <p class="summary">
          {{ projectOverview.summary }}
        </p>
      </div>
    </div>
    <div class="project-data">
      <div class="data-item">
        <div class="up">
          <p class="data">130 ETH</p>
          <div class="indicator">
            <svg
              width="10"
              height="10"
              viewBox="0 0 24 24"
              fill="#3bd43b"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M12 2L22 22H2L12 2Z" />
            </svg>
            <p>24% (d)</p>
          </div>
        </div>
        <div class="bottom">
          <p class="metric">Floor Price</p>
        </div>
      </div>
      <div class="data-item">
        <div class="up">
          <p class="data">68.410 ETH</p>
          <div class="indicator">
            <svg
              width="10"
              height="10"
              viewBox="0 0 24 24"
              fill="#3bd43b"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M12 2L22 22H2L12 2Z" />
            </svg>
            <p>24% (d)</p>
          </div>
        </div>
        <div class="bottom">
          <p class="metric">Total Volume</p>
        </div>
      </div>
      <div class="data-item">
        <div class="up">
          <p class="data">3640 (36%)</p>
          <!-- <div class="indicator">
            <div class="triangle"></div>
            <p></p>
          </div> -->
        </div>
        <div class="bottom">
          <p class="metric">Owners (Unique)</p>
        </div>
      </div>
    </div>
  </div>
</div>
