<div class="submodule">
  <h3>{{ subModuleTitle }}</h3>
  <div class="open-submodule-button" (click)="toggleSubmodule($event)">
    <div class="arrow"></div>
  </div>
  <div
    class="content-container text"
    *ngIf="stringId == 'lore' || stringId == 'usecase-features'"
  >
    <p>{{ subModuleText }}</p>
  </div>
  <div
    class="content-container categories"
    *ngIf="stringId == 'categorization'"
  >
    <p *ngFor="let category of subModuleCategories">{{ category }}</p>
  </div>
  <div
    class="content-container quantitative-data"
    *ngIf="stringId == 'quantitative-data'"
  >
    <p>Les données présentées ici sont totalement fictives pour le moment.</p>
    <p *ngFor="let data of this.subModuleDatas">
      {{ data.metricName }} : {{ data.metricValue }}
    </p>
  </div>
</div>
