<div class="submodule">
  <h3>Les choix artistiques et leurs inspirations</h3>
  <div class="open-submodule-button" (click)="toggleSubmodule($event)">
    <div class="arrow"></div>
  </div>
  <p>
    Des punk en pixel art avec des fonds colorés. Les Cryptopunks ont lancé le
    pixel art, surtout dans l’univers crypto
    <br /><br />
    Matt Hall et John Watkinson attestent qu’il existait un mindset rebel,
    contestataire, anti-institutionnel dès les premiers instants du mouvement
    Blockchain. C’est de cette ambiance que ce sont inspirés les auteurs pour le
    look des CryptoPunks.
    <br /><br />
    “Les CryptoPunks doivent incarner une collection de personnages marginaux et
    anti-conformistes” — M. Hall, J. Watkinson.
    <br /><br />
    Le mouvement punk Londonien des années 1970, l’esprit Cyberpunk, le film
    Blader Runner et le roman Neurommancier ont donc été les inspirations
    principales.
  </p>
</div>
