.container {
  height: 100%;
  width: 100%;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;

  .search-bar {
    height: 80px;
    width: 600px;
    padding: 0 20px;

    background: center / contain no-repeat
      url("../../../assets/icon/bg-search-bar.svg");
    transform: translateX(calc(50% - 250px));
    transition: transform 300ms ease;

    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      height: 35px;
      width: 390px;
      outline: none;
      border: none;
      background: alpha($color: #ffffff00);
      color: #f3f3f3;
      font-family: "JW.Sans", sans-serif;
      font-size: 28px;
      font-weight: 500;
    }
    .icons-container {
      display: flex;
      gap: 20px;
      button {
        background: none;
        border: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .spatial-filter {
    background-color: #353535;
    transform: translateX(calc(50% - 250px));
    transition: transform 300ms ease;

    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .category-container {
      width: 64px;
      height: 36px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: center / contain no-repeat
        url("../../../assets/icon/bg-spatial-filter-category.svg");
      &:hover {
        cursor: grab;
      }
      &:active {
        cursor: grabbing;
      }
      p {
        margin: 0;
        font-family: "JW.Sans", sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #f3f3f3;
      }
    }

    .category-container-dragging {
      width: 64px;
      height: 36px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: center / contain no-repeat
        url("../../../assets/icon/bg-spatial-filter-category.svg");
      transform: translate(-50%, -50%);
      &:hover {
        cursor: grabbing;
      }
      p {
        margin: 0;
        font-family: "JW.Sans", sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #f3f3f3;
      }
    }
  }
}

.container-white-ui {
  .search-bar {
    transform: translateX(0);
  }
  .spatial-filter {
    transform: translateX(0);
  }
}
