/* You can add global styles to this file, and also import other style files */

// @import url("~simplebar/dist/simplebar.css");

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

/**
  * Font Loader
*/

@font-face {
  font-family: "JW.Sans";
  src: url("/src/assets/fonts/JW.Sans/JW.Sans-Light.otf") format("opentype")
    url("/src/assets/fonts/JW.Sans/JW.Sans-Light.ttf") format("truetype")
    url("/src/assets/fonts/JW.Sans/JW.Sans-Light.woff2") format("woff2");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "JW.Sans";
  src: url("/src/assets/fonts/JW.Sans/JW.Sans-Regular.otf") format("opentype")
    url("/src/assets/fonts/JW.Sans/JW.Sans-Regular.ttf") format("truetype")
    url("/src/assets/fonts/JW.Sans/JW.Sans-Regular.woff2") format("woff2");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "JW.Sans";
  src: url("/src/assets/fonts/JW.Sans/JW.Sans-Medium.otf") format("opentype")
    url("/src/assets/fonts/JW.Sans/JW.Sans-Medium.ttf") format("truetype")
    url("/src/assets/fonts/JW.Sans/JW.Sans-Medium.woff2") format("woff2");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "JW.Sans";
  src: url("/src/assets/fonts/JW.Sans/JW.Sans-Bold.otf") format("opentype")
    url("/src/assets/fonts/JW.Sans/JW.Sans-Bold.ttf") format("truetype")
    url("/src/assets/fonts/JW.Sans/JW.Sans-Bold.woff2") format("woff2");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "OffBit-Dot";
  src: url("/assets/fonts/DOT/OffBitTrial-DotBold.otf") format("opentype"),
    url("/src/assets/fonts/DOT/OffBitTrial-DotBold.ttf") format("truetype"),
    url("/src/assets/fonts/DOT/offbit-dotbold-webfont.woff") format("woff"),
    url("/src/assets/fonts/DOT/offbit-dotbold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Julius";
  src: url("./assets/fonts/Julius/JuliusSansOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.attractor {
  z-index: 1;
  cursor: grab;
  text {
    font-weight: bold;
  }
}

.attractor:active {
  z-index: 1;
  cursor: grabbing;
}

.bubble {
  cursor: pointer;
  text {
    letter-spacing: 0.2px;
    font-weight: 400;
  }
}

.bubble:active {
  cursor: grabbing;
}

.category-container-dragging {
  width: 64px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: center / contain no-repeat
    url("./assets/icon/bg-spatial-filter-category.svg");
  transform: translate(-50%, -50%);
  &:hover {
    cursor: grabbing;
  }
  p {
    margin: 0;
    font-family: "JW.Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #f3f3f3;
  }
}
